node_modules
data/
out/
/electron-builder.yml
dist/
.build/
*.txt
*.js.map
*.css.map
/main.js
/main_update.js
/src/js/**/*.js
/src/html/**/*.js
/src/utils.js
compatibility-corpus.private.json
compatibility-corpus-results.json
